
table {
  width: 100%;
  border-collapse: collapse; /* Fusionner les bordures de cellules */
}

th, td {
  width: calc(100% / 8); /* Répartit la largeur de chaque colonne en 8 parts égales (7 jours + 1 case pour les heures) */
  border: 5px solid #ccc; /* Ajoute une bordure à chaque cellule */
  border-radius: 30%; /* Arrondir les bordures à 30% */
  height: 110px; /* Définit une hauteur fixe de 100px pour chaque cellule */
  text-align: center; /* Centre le texte horizontalement */
}

th {
  font-weight: bold; /* Mettre en gras les en-têtes de colonne */
}

td {
  vertical-align: middle; /* Centre le contenu verticalement */
}

.done {
  background-color: lightgreen; /* Style pour les cours marqués comme "fait" */
}

input {
  height: 30px;
  width: 400px;
  margin-bottom: 28px;
}